<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仿百度搜索联想</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <div class="logo">
            <img src="https://www.baidu.com/img/bd_logo1.png?where=super" alt="点击一下，了解更多">
        </div>
        <div class="search-box">
            <div class="search-area">
                <!-- 使用input输入框的focus和blur事件+数据长度控制列表的显示 -->
                <input type="text" maxlength="100" v-model="inputVal" @focus="inputFocus = true"
                    @blur="inputFocus = false">
                <span class="icon icon-paizhao"></span>
            </div>
            <span class="search-btn">百度一下</span>
        </div>
        <ul class="search-list" v-if="inputFocus && searchResList.length">
            <li v-for="res in searchResList" :key="res">{{res}}</li>
        </ul>
    </div>
    <script src="./jquery.js"></script>
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                inputVal: "", // 所搜关键字
                searchResList: [], // 存储搜索的联想数据列表
                inputFocus: false, // 控制联想列表的显示隐藏
            },
            methods: {
                searchRes(res) {
                    // console.log(res);
                    this.searchResList = res.s;
                }
            },
            watch: {
                inputVal(newVal, oldVal) {
                    // console.log(newVal, oldVal);
                    $.ajax({
                        dataType: "jsonp",
                        url: "https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su",
                        data: {
                            wd: this.inputVal,
                            // cb：callback函数的名字，最终动态生成在页面script元素中的函数，
                            // 虽然在这里的this是指向vm实例，但是它是在全局重调用的函数，
                            // 倘若用了this，那么就不是我们想要的结果了。直接用vm.XXX函数即可，
                            // vm就是在全局声明的变量。
                            cb: "vm.searchRes"
                        }
                    })
                }
            }
        });
    </script>
</body>

</html>